<app-ressources></app-ressources>
<div class="flex mt-3 space-x-1 w-full">
  <button
    class="p-2 bg-gray text-left rounded-md flex-1 border-b-4 border-transparent"
    [routerLink]="['/ressources/anneeScolaire/anneeScol']"
    routerLinkActive="bg-gray-500 text-white border-b-4 border-[#B89A53]"
  >
    Année Scolaire
  </button>

  <button
    class="p-2 bg-gray text-center rounded-md flex-1 border border-gray-300"
    [routerLink]="['/ressources/anneeScolaire/suiviEvenement']"
    routerLinkActive="bg-gray-500 text-white border-b-4 border-[#B89A53]"
  >
    Suivi des événements
  </button>

  <button
    class="p-2 bg-gray text-center rounded-md flex-1 border border-gray-300"
    [routerLink]="['/ressources/anneeScolaire/calendrierGeneral']"
    routerLinkActive="bg-gray-500 text-white border-b-4 border-[#B89A53]"
  >
    Calendrier Général
  </button>
</div>

