<div class="w-full flex flex-wrap justify-around Acceuil">
  <div class="bg-[#B89A53] w-full div1 flex items-center justify-center">
    <img src="assets/images/forslide.png" alt="forslide" class="w-40 h-45 absolue">
</div>
<div class=" w-full div2">
   <div class="flex flex-wrap justify-around">
    <p class="w-full text-center text-[#B89A53] text-sm font-bold">Future is now !</p>
    <div class="w-full button flex items-center justify-center">
        <a href="connexion" class="w-1/6 flex items-center justify-center text-white text-sm font-bold bg-[#B89A53] hover:bg-[#B89A52]/90 focus:ring-4 focus:outline-none focus:ring-[#C9151B] rounded-lg  px-5 py-2 me-2 mb-2">
        Start in
        <svg class="w-6 h-6 text-white dark:text-white mr-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/>
        </svg>
        </a>
    </div>
   </div>
</div>
</div>
